html,
body {
    font-family: "Ubuntu", sans-serif;
}

:root {
    --global-spacing: 1rem;
    --primary-color: #FFC000;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "main-content"
        "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: var(--global-spacing);
}

main {
    grid-area: main-content;
}

footer {
    grid-area: footer;
}