html,
body {
    font-family: "Ubuntu", sans-serif;
}

:root {
    --global-spacing: 1rem;
    --primary-color: #FFC000;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "main-content"
        "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: var(--global-spacing);
}

main {
    grid-area: main-content;
    padding: var(--global-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    grid-area: footer;
    padding: var(--global-spacing);
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1rem;
}

#game-grid {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#game-grid .game-grid-cell {
    border: 1px solid black;
    aspect-ratio: 1 / 1;
}